// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.progress-bar-wrapper {
  background-color: #CCC;
  height: 20px;
  width: 100%;
}

.progress-bar {
  background-color: #33CC33;
  height: 20px;
}
